* {
    font-family: Arial, sans-serif;
    background-color: black;
    color: snow;
}
h1 {
    font-family: "Arial Narrow";
    font-style: oblique;
    color: rgb(255, 255, 0);
}
a {
    font-style: oblique;
    color: #dc143c

}
p {
    border: 3px solid white;

}
ol {
    border: 2px double #ffffff;
}